/* .nav-list__item:hover{
    background-color: red;
} */
body {
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1280px;
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}

/* @import url('./header.css'); */

/* header */
.header {
  padding: 19px 0;
  background: linear-gradient(90.03deg, rgba(0, 197, 235, 0.3) -1.97%, rgba(181, 68, 254, 0.3) 89.43%);
}

.header__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  display: flex;
  gap: 40px;
}

.nav-list__link {
  font-size: 12px;
  line-height: 1.25;
  color: #ffffff;
}

.logo {
  font-size: 28px;
  line-height: 1.21;
  color: #ffffff;
}

.user-img-wrap {
  width: 150px;
  height: 150px;
}
.user-img {
  max-width: 150px;
  object-fit: cover;
  object-position: center;
}
.user-img-bg {
  width: 150px;
  height: 150px;
  background: url(../images/team1.png);
  background-size: cover;
  background-position: center;
}
